.button_section {
  text-align: right;
  margin-bottom: 12px;
}
.button, .button:visited {
  position: relative;
  background-color: #e22092;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

body {
	background-color: #222222;
	min-width: 320px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
	font-size: 24px;
	color: #FFFFFF;
	background-color: blue;
	margin: 0 0 2px 0;
  padding: 5px 10px 6px;
  
}
.text {
	font-size: 28px;
}

::-moz-selection {
 background: white;
}

::selection { background: white; }

@-webkit-keyframes 
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}

@keyframes 
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

label {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 28px;
  font-weight: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

label:last-of-type { margin-right: 1rem; }

label i {
  display: inline-block;
  height: 25px;
  position: relative;
  top: 6px;
  font-style: normal;
  color: #ccc;
}

label span {
  display: inline-block;
  margin-left: 5px;
  line-height: 25px;
  color: gray;
}
input[type="checkbox"] { display: none; }
input[type="checkbox"] + i:before {
  font-family: 'FontAwesome';
  font-size: 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
}
input[type="checkbox"]:checked + i {
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}
input[type="checkbox"]:checked + i + span {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
input[type="checkbox"] + i:before { content: "\f096"; }
input[type="checkbox"]:checked + i:before { content: "\f046"; }
input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i:before { color: rgba(255, 255, 255, 1.0); }
